Asynchronous Architecture with SNS/1/OrderWorkflow.json
{
  "Comment": "Process of book a hotel an buy a ticket for a museum",
  "StartAt": "BookHotelState",
  "States": {
    "BookHotelState": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:363098689610:function:BookHotel",
      "Parameters": {
        "buyer_id.$": "$.purchase.buyer_id",
        "start_date.$": "$.hotel.start_date",
        "end_date.$": "$.hotel.end_date",
        "near.$": "$.museum.name"
      },
      "ResultPath": "$.hotel",
      "Next": "BookMuseumState",
      "Retry": [
        {
          "ErrorEquals": [
            "TransientError"
          ],
          "MaxAttempts": 3
        }
      ]
    },
    "BookMuseumState": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:363098689610:function:BookMuseum",
      "Parameters": {
        "buyer_id.$": "$.purchase.buyer_id",
        "museum_name.$": "$.museum.name",
        "when.$": "$.museum.when"
      },
      "ResultPath": "$.museum",
      "Next": "NotifySuccess",
      "Retry": [
        {
          "ErrorEquals": [
            "TransientError"
          ],
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "CancelHotelState",
          "ResultPath": "$.errorInfo"
        }
      ]
    },
    "CancelHotelState": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:363098689610:function:CancelHotelClient",
      "End": true
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:363098689610:OrderCompletedTopic",
        "Message.$": "$"
      },
      "End": true
    }
  }
}